h1 {
    position: absolute;
    left: 430;
    top: 0px;
    color:black;
    
}

@media screen and (max-width : 700px) {
    h1 {
        position: absolute;
        left: 21%;
        top: 19%;
        color:blue;
        height: 1%;
        width: 150%;
        font-size: 175%;
        
    }
} 



div.h2 { font-family: Arial Black, Gadget, sans-serif;}
div.h2 { font-size: 300;}

input[id="krm1"] {
    width: 6%;
    height: 3%;
    position: absolute;
    left: 450;
    top: 100px;
    -webkit-input-placeholder {
        font-size: 10px;
        line-height: 3;
    }
}

input[id="krm2"] {
    width: 6%;
    height: 3%;
    size: 1cm;
    position: absolute;
    left: 450;
    top: 130px;
}

input[id="krm3"] {
    width: 6%;
    height: 3%;
    size: 1cm;
    position: absolute;
    left: 450;
    top: 160px;
}

input[id="krm4"] {
    width: 6%;
    height: 3%;
    size: 1cm;
    position: absolute;
    left: 450;
    top: 190px;
}
input[id="final"] {
    width: 6%;
    height: 3%;
    size: 1cm;
    position: absolute;
    left: 450;
    top: 280px;
}

input[id="abd1"] {
    width: 6%;
    height: 3%;
    size: 1cm;
    position: absolute;
    left: 780;
    top: 100px;
}

input[id="abd2"] {
    width: 6%;
    height: 3%;
    size: 1cm;
    position: absolute;
    left: 780;
    top: 130px;
}

input[id="abd3"] {
    width: 6%;
    height: 3%;
    size: 1cm;
    position: absolute;
    left: 780;
    top: 160px;
}

input[id="abd4"] {
    width: 6%;
    height: 3%;
    size: 1cm;
    position: absolute;
    left: 780;
    top: 190px;
}

input[id="but"] {
    width: 6%;
    height: 3%;
    size: 1cm;
    position: absolute;
    left: 780;
    top: 280px;
}


/* input mobil */

@media screen and (max-width : 700px) {
    input[id="krm1"] {
    width: 35%;
    height: 10%;
    position: absolute;
    left: 128%;
    top: 30%;
    font-size: 25px;
}

    input[id="krm2"] {
    width: 35%;
    height: 10%;
    position: absolute;
    left: 128%;
    top: 45%;
    font-size: 25px;
    }

    input[id="krm3"] {
    width: 35%;
    height: 10%;
    position: absolute;
    left: 128%;
    top: 60%;
    font-size: 25px;
    }

    input[id="krm4"] {
    width: 35%;
    height: 10%;
    position: absolute;
    left: 128%;
    top: 75%;
    font-size: 25px;
    }
    input[id="final"] {
    width: 35%;
    height: 10%;
    position: absolute;
    left: 128%;
    top: 90%;
    font-size: 25px;
    }

    input[id="abd1"] {
        width: 35%;
        height: 10%;
        position: absolute;
        left: 128%;
        top: 105%;
        font-size: 25px;
    }

    input[id="abd2"] {
        width: 35%;
        height: 10%;
        position: absolute;
        left: 128%;
        top: 120%;
        font-size: 25px;
    }

    input[id="abd3"] {
        width: 35%;
    height: 10%;
    position: absolute;
    left: 128%;
    top: 135%;
    font-size: 25px;
    }

    input[id="abd4"] {
        width: 35%;
    height: 10%;
    position: absolute;
    left: 128%;
    top: 150%;
    font-size: 25px;
    }

    input[id="but"] {
        width: 35%;
    height: 10%;
    position: absolute;
    left: 128%;
    top: 165%;
    font-size: 25px;
    }
    
    
    
} 

button[id="butons"] {
    position: absolute;
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        left: 630;
        top: 350px
      }

/* HESAPLA BUTONU MOBİL */

@media screen and (max-width : 700px) {
    button[id="butons"] {
        position: absolute;
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 40px 72px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 200%;
            left: 49%;
            top: 200%
          }
}

p[id="ders1"] {
    position: absolute;
    left: 282;
    top: 90px;
}
p[id="ders2"] {
    position: absolute;
    left: 282;
    top: 119px;
}
p[id="ders3"] {
    position: absolute;
    left: 282;
    top: 148px;
}
p[id="ders4"] {
    position: absolute;
    left: 282;
    top: 177px;
}
p[id="finalp"] {
    position: absolute;
    left: 282;
    top: 268px;
}
p[id="ders5"] {
    position: absolute;
    left: 580;
    top: 90px;
}
p[id="ders6"] {
    position: absolute;
    left: 580;
    top: 119px;
}
p[id="ders7"] {
    position: absolute;
    left: 580;
    top: 148px;
}
p[id="ders8"] {
    position: absolute;
    left: 580;
    top: 177px;
}

p[id="butp"] {
    position: absolute;
    left: 580;
    top: 268px;
}

p[id="times"] {
    position: absolute;
    left: 600;
    top: 390px;
    font-size: 110%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p[id="sonuc_backround"] {
    background-color:whitesmoke;
    position: absolute;
    left: 500px;
    top: 420px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 2px solid black;
    padding: 50px;
    width: 20%;
}

p[id="logo_backround"] {
    background-color: lightblue;
    position: absolute;
    left: 250px;
    top: 75px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 2px solid black;
    padding: 50px;
    width: 56%;
    height: 4%;
}

p[id="fb_backround"] {
    background-color: lightblue;
    position: absolute;
    left: 250px;
    top: 250px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 2px solid black;
    padding: 25px;
    width: 59.5%;
    height: 0%;
}



p[id="sonuc_ekranı"] {
    position: absolute;
    left: 630;
    top: 430px;
}


p[id="sonuc1"] {
    position: absolute;
    left: 510;
    top: 450px;
}

p[id="sonuc2"] {
    position: absolute;
    left: 510;
    top: 470px;
}
@media only screen and (min-width:1200px){
    p[id="cizgi"] {
        position: absolute;
        color: orange;
        width: 170%;
        font-size: 350%;
        top: 12.5%;
        display: none;
    }
    p[id="cizgi1"] {
        position: absolute;
        color: orange;
        width: 170%;
        font-size: 350%;
        top: 12.5%;
        display: none;
    }

}

/* İPHONE 5 CİVARI */
@media only screen and (max-width:500px){
    p[id="cizgi"] {
        position: absolute;
        color: orange;
        width: 170%;
        font-size: 350%;
        top: 12.5%;
        display: none;
    }
    p[id="cizgi1"] {
        position: absolute;
        color: orange;
        width: 170%;
        font-size: 350%;
        top: 12.5%;
    }

}

/* iphone 6 civarı */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
    @media only screen and (max-width:700px){
        p[id="cizgi"] {
            position: absolute;
            color: orange;
            width: 170%;
            font-size: 350%;
            top: 12.5%;
            display: none;
        }
    } 
}

/* textlerin MOBİL SÜRÜMÜ */

@media only screen and (max-width : 700px) {
    p[id="ders1"] {
        position: absolute;
        left: 10%;
        top: 26%;
        width: 110%;
        height: 10%;
        font-size: 250%;
    }
    p[id="ders2"] {
        position: absolute;
        left: 10%;
        top: 41%;
        width: 110%;
        height: 10%;
        font-size: 250%;
    }
    p[id="ders3"] {
        position: absolute;
        left: 10%;
        top: 56%;
        width: 110%;
        height: 10%;
        font-size: 250%;
    }
    p[id="ders4"] {
        position: absolute;
        left: 10%;
        top: 71%;
        width: 110%;
        height: 10%;
        font-size: 250%;
    }
    p[id="finalp"] {
        position: absolute;
        left: 10%;
        top: 86%;
        width: 110%;
        height: 10%;
        font-size: 250%;
    }
    p[id="ders5"] {
        position: absolute;
        left: 10%;
        top: 101%;
        width: 100%;
        height: 10%;
        font-size: 250%;
    }
    p[id="ders6"] {
        position: absolute;
        left: 10%;
        top: 114.5%;
        width: 100%;
        height: 10%;
        font-size: 250%;
    }
    p[id="ders7"] {
        position: absolute;
        left: 10%;
        top: 129.5%;
        width: 100%;
        height: 10%;
        font-size: 250%;
    }
    p[id="ders8"] {
        position: absolute;
        left: 10%;
        top: 144.5%;
        width: 100%;
        height: 10%;
        font-size: 250%;
    }
    
    p[id="butp"] {
        position: absolute;
        left: 10%;
        top: 159.5%;
        width: 100%;
        height: 10%;
        font-size: 250%;
    }
    
    p[id="times"] {
        position: absolute;
        left: 20%;
        top: 220%;
        width: 150%;
        font-size: 250%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    p[id="sonuc_backround"] {
        background-color:whitesmoke;
        position: absolute;
        left: 20%;
        top: 250%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border: 2px solid black;
        padding: 50px;
        width: 105%;
        height: 40%;
    }
    
    p[id="logo_backround"] {
        background-color: white;
        position: absolute;
        left: 67.6%;
        top: -1.5%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border: 2px solid black;
        padding: 50px;
        width: 10%;
        height: 3.5%;
        display: none;


    }
    
    p[id="fb_backround"] {
        background-color: lightblue;
        position: absolute;
        left: 250px;
        top: 250px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border: 2px solid black;
        padding: 25px;
        width: 59.5%;
        height: 0%;
        display: none;
    }
    
    
    
    p[id="sonuc_ekranı"] {
        position: absolute;
        left: 47%;
        top: 248%;
        width: 100%;
        font-size: 250%;
    }
    
    
    p[id="sonuc1"] {
        position: absolute;
        left: 25%;
        top: 265%;
        font-size: 150%;
        width: 150%;
    }
    
    p[id="sonuc2"] {
        position: absolute;
        left: 25%;
        top: 280%;
        font-size: 150%;
        width: 150%;
    }

    p[id="cizgi"] {
        position: absolute;
        color: orange;
        width: 170%;
        font-size: 350%;
        top: 12.5%;
    }
    
    

}





div.a {font-family: verdana;}
div.a {font-size: 55;}

div.a {
    position: absolute;
    left: 900;
    top: 120px;
}
/* OCM MOBİL GÖRÜNÜM */
@media screen and (max-width: 700px) {
    div.a {font-family: verdana;}
    div.a {font-size: 55;}

    div.a {
        position: absolute;
        left: 10%;
        top: 178%;
}  

}



body {background-color:white;}

select[id="ocm_"] {
    background-color: lightblue;
    position: absolute;
    left: 1040;
    top: 130px;
    width: 6%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }

/* OCM1 MOBİL GÖRÜNÜM */
@media screen and (max-width: 700px) {
    select[id="ocm_"] {
        background-color: lightblue;
        position: absolute;
        left: 120%;
        top: 180%;
        width: 35%;
        padding: 16px 20px;
        border: none;
        border-radius: 4px;
        background-color: #f1f1f1;
        }

}



img[id="deupng"] {
    max-width: 40%;
    position: absolute;
    left: 1175;
    top: 45px
}
img[id="logo1"] {
    position: absolute;
    left: 3%;
    top: 3%;
    max-width: 10%;

}




/* ROCKET KAPATMA
img[id="rocket1"] {
    position: absolute;
    left: 0;
    top: 420px;
}


img[id="rocket2"] {
    position: absolute;
    left: 1050;
    top: 420px;
}

img[id="zincir"] {
    position: absolute;
    left: 500;
    top: 0px;
}

/* img mobil */





@media screen and (max-width: 700px) {    
    img[id="deupng"] {
        position: absolute;
        left: 5%;
        top: 19%;
        width: 15%;

    }
    img[id="logo1"] {
        position: absolute;
        left: 72.50%;
        top: -1%;
        max-width: 30%;
        
    }
}