h1 {
    position: absolute;
    left: 430;
    top: 0px;
    color:black;
}

div.h2 { font-family: Arial Black, Gadget, sans-serif;}
div.h2 { font-size: 300;}

input[id="krm1"] {
    width: 6%;
    height: 3%;
    position: absolute;
    left: 450;
    top: 100px;
}

input[id="krm2"] {
    width: 6%;
    height: 3%;
    size: 1cm;
    position: absolute;
    left: 450;
    top: 130px;
}

input[id="krm3"] {
    width: 6%;
    height: 3%;
    size: 1cm;
    position: absolute;
    left: 450;
    top: 160px;
}

input[id="krm4"] {
    width: 6%;
    height: 3%;
    size: 1cm;
    position: absolute;
    left: 450;
    top: 190px;
}
input[id="final"] {
    width: 6%;
    height: 3%;
    size: 1cm;
    position: absolute;
    left: 450;
    top: 280px;
}

input[id="abd1"] {
    width: 6%;
    height: 3%;
    size: 1cm;
    position: absolute;
    left: 780;
    top: 100px;
}

input[id="abd2"] {
    width: 6%;
    height: 3%;
    size: 1cm;
    position: absolute;
    left: 780;
    top: 130px;
}

input[id="abd3"] {
    width: 6%;
    height: 3%;
    size: 1cm;
    position: absolute;
    left: 780;
    top: 160px;
}

input[id="abd4"] {
    width: 6%;
    height: 3%;
    size: 1cm;
    position: absolute;
    left: 780;
    top: 190px;
}

input[id="but"] {
    width: 6%;
    height: 3%;
    size: 1cm;
    position: absolute;
    left: 780;
    top: 280px;
}


button[id="butons"] {
    position: absolute;
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        left: 630;
        top: 350px
      }

p[id="ders1"] {
    position: absolute;
    left: 290;
    top: 90px;
}
p[id="ders2"] {
    position: absolute;
    left: 290;
    top: 119px;
}
p[id="ders3"] {
    position: absolute;
    left: 290;
    top: 148px;
}
p[id="ders4"] {
    position: absolute;
    left: 290;
    top: 177px;
}
p[id="finalp"] {
    position: absolute;
    left: 290;
    top: 268px;
}
p[id="ders5"] {
    position: absolute;
    left: 580;
    top: 90px;
}
p[id="ders6"] {
    position: absolute;
    left: 580;
    top: 119px;
}
p[id="ders7"] {
    position: absolute;
    left: 580;
    top: 148px;
}
p[id="ders8"] {
    position: absolute;
    left: 580;
    top: 177px;
}

p[id="butp"] {
    position: absolute;
    left: 580;
    top: 268px;
}

p[id="times"] {
    position: absolute;
    left: 600;
    top: 390px;
    font-size: 115%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p[id="sonuc_backround"] {
    background-color:whitesmoke;
    position: absolute;
    left: 500px;
    top: 420px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 2px solid black;
    padding: 50px;
    width: 20%;
}

p[id="notlar_backround"] {
    background-color: lightblue;
    position: absolute;
    left: 250px;
    top: 75px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 2px solid black;
    padding: 50px;
    width: 56%;
    height: 4%;
}

p[id="fb_backround"] {
    background-color: lightblue;
    position: absolute;
    left: 250px;
    top: 250px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 2px solid black;
    padding: 25px;
    width: 59.5%;
    height: 0%;
}



p[id="sonuc_ekranı"] {
    position: absolute;
    left: 630;
    top: 430px;
}


p[id="sonuc1"] {
    position: absolute;
    left: 510;
    top: 450px;
}

p[id="sonuc2"] {
    position: absolute;
    left: 510;
    top: 470px;
}





div.a {font-family: verdana;}
div.a {font-size: 55;}

div.a {
    position: absolute;
    left: 900;
    top: 120px;
}

body {background-color:white;}

select[id="ocm_"] {
    background-color: lightblue;
    position: absolute;
    left: 1040;
    top: 130px;
    width: 6%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }


img[id="deupng"] {
    max-width: 40%;
    position: absolute;
    left: 1175;
    top: 45px
}
img[id="logo1"] {
    max-width: 13%;
    position: absolute;
    left: 40;
    top: 5px
}

img[id="rocket1"] {
    position: absolute;
    left: 0;
    top: 420px;
}


img[id="rocket2"] {
    position: absolute;
    left: 1050;
    top: 420px;
}

img[id="zincir"] {
    position: absolute;
    left: 500;
    top: 0px;
}

